/**
 * SportShop CSS - Versión 3.0.0
 * Autor: Jessica Martínez Esquerdo
 * Fecha: 2026-01-20
 * Url: https://www.linkedin.com/in/jmesquerdo/
 * Variables CSS para toda la aplicación
 */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fuentes/roboto-v50-latin_symbols-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fuentes/roboto-v50-latin_symbols-700.woff2') format('woff2');
}

:root {
    /* Colores Marca */
    --accent-color: #dc3545;       /* Rojo SportShop */
    --accent-hover: #b02a37;       /* Rojo oscuro */
    --accent-soft: rgba(220, 53, 69, 0.25);
    
    /* Paleta de Neutros */
    --white: #ffffff;
    --light-gray: #f8f9fa;
    --text-muted: #6c757d;
    --dark-color: #212529;         /* Texto principal */
    --header-dark: #1a1d20;        /* Fondos de Header/Footer */
    --footer-black: #111111;
    --text-on-dark: #adbac7; /* Un gris claro azulado muy usado en modo oscuro */
    
    /* Tipografía */
    --main-font: 'Roboto', sans-serif;
    
    /* Sombras y Bordes */
    --shadow-standard: 0 2px 10px rgba(0,0,0,0.05);
    --shadow-header: 0 4px 15px rgba(0, 0, 0, 0.3);
    --shadow-product: 0 15px 30px rgba(0, 0, 0, 0.1);
    --border-radius-lg: 1rem;     /* Para contenedores grandes */
    --border-radius: 0.75rem;    /* Para tarjetas y componentes estándar */
    --border-radius-sm: 0.4rem;  /* Para botones pequeños */
}